.btn
  padding 0.33em 0.77em !important
  .icon
    height 22px !important
    width 28px !important

  &.results
    margin-top: 40px
    margin-bottom 40px
    width 45%
    height 150px
    background #eaeaea
    padding-top 55px !important
    text-align center
    float left
    margin-left 15px
    a
      font-size 2em
      font-weight bold

.main
  margin 0 auto

p
  margin 15px 0

.subheader
  .title
    font-size 0.44em !important
  .btn-next
    .icon-next
      background-position -175px 0 !important
  .btn-back
    .icon-back
      background-position -275px 0 !important
