$white = #fff
$metalic-light = #bdcdd4
$metalic-medium = #9eabb0
$metalic-dark = #364e59
$metalic-black = #0e232e
$grey-light = #cccccc
$grey-medium = #999999
$grey-dark = #666666
$grey-black = #2d2d2d
