// An easy way to add webfonts:
// Create a directory called fonts inside stylesheets and copy & paste this
// template with your webfont css-style.
//
// Creating a class is an easy way to select what font to be used while creating
// content in the future, without modifying the CSS.


// League Gothic
//@font-face
//  font-family 'League Gothic'
//  src url(fonts/leaguegothic-regular-webfont.eot)
//  src url(fonts/leaguegothic-regular-webfont.eot?#iefix) format('eot'), url(fonts/leaguegothic-regular-webfont.woff) format('woff'), url(fonts/leaguegothic-regular-webfont.ttf) format('truetype'), url(fonts/leaguegothic-regular-webfont.svg#league_gothicregular) format('svg')
//  font-style normal
//  font-weight normal

//.leaguegothic
//  font-family 'League Gothic', 'Helvetica Neue', Arial, sans-serif

